!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
notebooks/
esphome/
deps/
custom_components/
secrets.yaml
*.log
*.log.txt
.storage
.cloud
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
zigbee.db
zigbee.db-shm
zigbee.db-wal

id_rsa*


